
{% extends 'main/base/base.html' %}





        


{% block header %}
    
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Modifier Fichier {{fichier}} </h2>
                <hr class="my-3">
                <p class="lead">{{profile_infos.grade_de_travail_fk}}</p>
            </div>

            <div class="row g-5">
                
            
            
                <div class="col-md-7 col-lg-11">
                    <h4 class="mb-3">Date De Debut Du Fichier </h4>
                    <form method="POST" class="needs-validation" novalidate>
                        <div class="row g-3">
                        
                            <div class="col-12">
                                <label for="firstName" class="form-label">Du :</label>
                                {{form.du}}
                                <div class="invalid-feedback">
                                    Entrer La Region Correctement .
                                </div>
                            </div>

                            

                            

                            <h4 class="mb-3">Date De Fin Du Fichier</h4>

                            <div class="col-12">
                                <label for="address" class="form-label">Jusqu'a :</label>
                                {{form.jusqu_a}}
                                <div class="invalid-feedback">
                                    Entrer Le Nom De L'operation Correctement .
                                </div>
                            </div>

                            

                            <h4 class="mb-3">Les Operations </h4>

                            <div class="col-12">
                                <label for="address" class="form-label">Les Operations Selectionner :</label>
                                {{form.operation}}
                                <div class="invalid-feedback">
                                    Entrer Le Nombre Des Agents Correctement .
                                </div>
                            </div>
                            
                            
                            
                            
                        </div>

                        

                        

                        <hr class="my-4">

                        

                        <div class="py-5 text-center">
                            <button type="submit" class="btn btn-secondary btn-lg text-center">Modifier</button>
                            <hr class="my-3">
                            
                        </div>
                        {% csrf_token %}

                        
                    </form>
                </div>
            </div>
        </main>

        
    </div>

{% endblock header %}