
{% extends 'main/base/ag_grid_template.html' %}       
        
{% block ag_grid %}



    <br>
    <div id="myGrid" style="height: 88%;" class="ag-theme-alpine"></div>
    <script src="https://unpkg.com/@ag-grid-enterprise/all-modules@25.3.0/dist/ag-grid-enterprise.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        var columnDefs = [
            {
                headerName: ' ',
                headerCheckboxSelection: true,
                checkboxSelection: true,
                floatingFilter: false,
                suppressMenu: true,
                minWidth: 50,
                maxWidth: 50,
                width: 50,
                flex: 0,
                resizable: false,
                sortable: false,
                editable: false,
                filter: false,
                suppressColumnsToolPanel: true,
            },
            {
                headerName: 'Les Operations',
                children: [
                    { field: 'nom_operation' , filter: 'agTextColumnFilter'},
                    { field: 'operation.region.id' , filter: 'agTextColumnFilter'},
                    { field: 'date_operation' , filter: 'agDateColumnFilter'},
                    { field: 'nombre_des_migrants' , filter: 'agNumberColumnFilter'},
                    { field: 'nature_operation' , filter: 'agTextColumnFilter'},
                ],
            },
            
            
            
        ];

        var gridOptions = {
        rowData: null,
        columnDefs: columnDefs,
        rowSelection: 'multiple',
        suppressRowClickSelection: true,
        defaultColDef: {
            editable: true,
            sortable: true,
            minWidth: 100,
            filter: true,
            resizable: true,
            floatingFilter: true,
            flex: 1,
        },
        
        
            

        
        sideBar: {
            toolPanels: ['filters'],
            defaultToolPanel: '',
        },
        };

        // setup the grid after the page has finished loading
        document.addEventListener('DOMContentLoaded', function () {
        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        agGrid
            .simpleHttpRequest({
            url: 'http://127.0.0.1:8000/accounts/operation/json_api/',
            })
            .then(function (data) {
            gridOptions.api.setRowData(data);
            });
        });
    </script>




{% endblock %}