
{% extends 'main/base/base.html' %}





        


{% block header %}

        
    
    <div class="container">
        <main>
            <div class="py-5 text-center">
                
                {% for message in messages %}
                   <div class='alert alert-info'>{{message}}</div>
                   <br>
                {% endfor %}
                <h2>Ajouter Une Operation</h2>        
                <hr class="my-3">
                <p class="lead">{{profile_infos.grade_de_travail_fk}}</p>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-11">
                    <h4 class="mb-3">Lieu De L'operation</h4>
                    <form method = "POST" class="needs-validation" novalidate>
                        <div class="row g-3">
                        
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">La Region :</label>
                                {{form.region}}
                                <div class="invalid-feedback">
                                    Entrer La Region Correctement .
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">La Province :</label>
                                {{form.province}}
                                <div class="invalid-feedback">
                                    Entrer La Province Correctement.
                                </div>
                            </div>

                            

                            <h4 class="mb-3">Les Informations De L'operation</h4>

                            <div class="col-12">
                                <label for="address" class="form-label">Le Nom De L'operation :</label>
                                {{form.nom_operation}}
                                <div class="invalid-feedback">
                                    Entrer Le Nom De L'operation Correctement .
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address2" class="form-label">La Date De L'operation :</label>
                                {{form.date_operation}}
                                <div class="invalid-feedback">
                                    Entrer La Date De L'operation Correctement .
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">La Nature De L'operation :</label>
                                {{form.nature_operation}}
                                <div class="invalid-feedback">
                                    Entrer Le Nom De L'operation Correctement .
                                </div>
                            </div>

                            <h4 class="mb-3">Les Informations Des Agents</h4>

                            <div class="col-12">
                                <label for="address" class="form-label">Le Nombre Des Agents :</label>
                                {{form.nombre_des_agents}}
                                <div class="invalid-feedback">
                                    Entrer Le Nombre Des Agents Correctement .
                                </div>
                            </div>

                            
                            <h4 class="mb-3">Les Informations Des Migrants</h4>
                            <div class="col-12">
                                <label for="address" class="form-label">Le Nombre Des Migrants :</label>
                                {{form.nombre_des_migrants}}
                                <div class="invalid-feedback">
                                    Entrer Le Nombre Des Migrants Correctement .
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Les Migrants :</label>
                                {{form.les_migrants}}
                                <div class="invalid-feedback">
                                    Entrer Le Nombre Des Migrants Correctement .
                                </div>
                            </div>
                        </div>


                        
                        

                        <hr class="my-4">

                        

                        
                        <div class="py-5 text-center">
                            <button type="submit" class="btn btn-secondary btn-lg text-center">Ajouter</button>
                            <hr class="my-3">
                            
                        </div>
                        {% csrf_token %}
                        
                        

                    
                        
                    </form>
                </div>
            </div>

            
            
        </main>

    </div>

{% endblock %}
