
{% extends 'main/base/base.html' %}





        


{% block header %}
        
        
   

    {% for message in messages %}
        <script>
            alert("Operation Supprimer");
        </script>
    {% endfor %}
    <form method = "POST">
        <div class="py-5 text-center">
            <hr class="my-2">
            <h2>Est Ce Que Vous Etes Sur De Supprimer Cette Operation ?</h2>
            <hr class="my-2">
            <div class="py-5 text-center">
                <button type="submit" class="btn btn-secondary btn-lg text-center">Supprimer</button>
                <a href="{% url 'modifier_operations' %}" class="btn btn-secondary btn-lg text-center">Retourner</a>
                
            </div>
        </div>
        {% csrf_token %}
    </form>
        
        
        
{% endblock %}
    