<!doctype html>


{% load static %}

<html lang="en">


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link rel="icon" type="image/png" href="{% static 'image/7.jpg'%}" />
        <title>La Garde Nationale</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

    

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
        <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
        
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
    
        <!-- Custom styles for this template -->
        
    </head>

    
    <body class="bg-light">

        
    
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'account_home' %}">La Garde Nationale</a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'profile_information' %}">Profil</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'statistique' %}">Les Statistiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Creer Compte</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="{% url 'ajouter_operation' %}">Ajouter Operation</a></li>
                                <li><a class="dropdown-item" href="{% url 'creer_fichier' %}">Ajouter Une Fichier Des Operations</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>






        <div class="nav-scroller bg-body shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <p class="nav-link active" aria-current="page">{{request.user.agent.nom}} {{request.user.agent.prenom}}</p>
                <a class="nav-link" href="{% url 'operation_home' %}">
                    Les Operations
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{nombre_des_operations_terminer}}</span>
                </a>
                <a class="nav-link" href="{% url 'fichiers_des_operations' %}">
                    Les Fichiers des Operations
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{nombre_fichiers_operations}}</span>
                </a>
                <a class="nav-link" href="{% url 'page_home_migrant' %}">Les Migrants Irreguliers</a>
                
            </nav>
        </div>


        
    
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                    <h2>{{request.user.agent.nom}} {{request.user.agent.prenom}}</h2>
                    <p class="lead">{{profile_infos.grade_de_travail_fk}}</p>
                </div>

                <div class="row g-5">
                    
                
                
                    <div class="col-md-7 col-lg-12">
                        <h4 class="mb-3">Mes Informations</h4>
                        
                        <div class="row g-3">
                        
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Prenom</label>
                                
                                <div class="form-control">
                                    {{request.user.agent.prenom}}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Nom</label>
                                <div class="form-control">
                                    {{request.user.agent.nom}}
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Age</label>
                                <div class="form-control">
                                    {{request.user.agent.age}}
                                </div>
                            </div>

                                

                            <div class="col-12">
                                <label for="address" class="form-label">Numero Telephone</label>
                                <div class="form-control">
                                    {{request.user.agent.numero_telephone}}
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address2" class="form-label">Genre </label>
                                <div class="form-control">
                                    {{request.user.agent.sexe}}
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label for="country" class="form-label">Grade De Travail</label>
                                <div class="form-control">
                                    {{request.user.agent.grade_de_travail_fk}}
                                </div>
                            
                            </div>
                            
                            <div class="col-md-5">
                                <label for="country" class="form-label">Lieu De Travail</label>
                                <div class="form-control">
                                    {{request.user.agent.lieu_de_travail_fk}}
                                </div>
                            
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Numero CIN</label>
                                <div class="form-control">
                                    {{request.user.agent.numero_cin}}
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Adresse</label>
                                <div class="form-control">
                                    {{request.user.agent.adresse}}
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Code Postal</label>
                                <div class="form-control">
                                    {{request.user.agent.code_postal}}
                                </div>
                            </div>

                                
                        </div>

                        <hr class="my-4">

                            

                        <div class="form-check">
                            <label class="form-check-label" for="save-info">Desole Monsieur {{prenom_agent}} Mais T'as Pas Le Droit De Modifier Les Informations</label>
                        </div>

                        <hr class="my-4">

                            

                            

                        <hr class="my-4">

                            
                       
                    </div>
                </div>
            </main>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2021 La Garde Nationale</p>
                <ul class="list-inline">
                
                </ul>
            </footer>
        </div>





        


        


    
    
    
    
        <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'js/offcanvas.js'%}"></script>
        <script src="{% static 'js/form-validation.js'%}"></script>
        
    </body>


</html>

