
{% extends 'main/base/base.html' %}


{% block header %}
 
    
    <div class="container">
        <main>
            <div class="py-5 text-center">
                
                <h2>{{request.user.agent.nom}} {{request.user.agent.prenom}}</h2>
                <p class="lead">{{profile_infos.grade_de_travail_fk}}</p>
            </div>

            <div class="row g-5">
                
                <div class="col-md-7 col-lg-12">
                    <h4 class="mb-3">Mes Informations</h4>
                    
                    <div class="row g-3">
                    
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">Prenom</label>
                            
                            <div class="form-control">
                                {{request.user.agent.prenom}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Nom</label>
                            <div class="form-control">
                                {{request.user.agent.nom}}
                            </div>
                        </div>


                        <div class="col-12">
                            <label for="address" class="form-label">Numero CIN</label>
                            <div class="form-control">
                                {{request.user.agent.numero_cin}}
                            </div>
                        </div>    

                        <div class="col-12">
                            <label for="username" class="form-label">Age</label>
                            <div class="form-control">
                                {{request.user.agent.age}}
                            </div>
                        </div>

                        

                        <div class="col-12">
                            <label for="address" class="form-label">Numero Telephone</label>
                            <div class="form-control">
                                {{request.user.agent.numero_telephone}}
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label">Genre </label>
                            <div class="form-control">
                                {{request.user.agent.genre}}
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="country" class="form-label">Grade De Travail</label>
                            <div class="form-control">
                                {{request.user.agent.grade_de_travail_fk}}
                            </div>
                        
                        </div>
                        
                        
                        

                        <div class="col-md-6">
                            <label for="address" class="form-label">Adresse</label>
                            <div class="form-control">
                                {{request.user.agent.adresse}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="address" class="form-label">Code Postal</label>
                            <div class="form-control">
                                {{request.user.agent.code_postal}}
                            </div>
                        </div>

                            
                    </div>

                    <hr class="my-4">

                        
                    <div class="py-5 text-center">
                        <label class="form-check-label" for="save-info">Desole Monsieur {{request.user.agent.prenom}} Mais T'as Pas Le Droit De Modifier Tes Informations</label>
                        <hr class="my-4">
                        <hr class="my-3">
                    </div>
                   

                </div>
            </div>
        </main>

        
    </div>

{% endblock%}



        


        


    
    
    
    
        
